<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio con motor de plantillas 👾</title>
</head>
<body>
    <h1>Hola 🥶 <%= titulo %></h1>
</body>
</html>